*{margin: 0; padding: 0;}

body{
    background: linear-gradient(90deg, rgba(231,52,52,1) 0%, rgba(236,148,53,1) 100%);
}

main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}