*{margin: 0; padding: 0;}
header{
    height: 15%;
    width: 100%;
    display: flex;
    outline: 1px solid black;

    #logoBox{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 100%;
        outline: 1px solid black;
        background: rgb(142, 213, 255);

        img{
            width: 40%;
            height: auto;
        }
    }

    #headerSelectBox{
        display: flex;
        background: rgb(142, 213, 255);
        width: 80%;
        height: 100%;
        outline: 1px solid black;
    }
}