#sidebarBox{
    width: 20%;
    height: 100%;
    background: rgb(142, 213, 255);
    outline: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

    #boutonsEnglobeBox{
        outline: 1px solid black;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;

        button{
        background: none;
        border: none;
        margin-top: 2em;
        font-size: 1.2em;
        font-weight: 900;
        font-family: "Noto Sans", sans-serif;
        transition: all 0.3s;
        opacity: 0.5;

        &:hover{
            opacity: 1;
            transform: scale(1.2);
            cursor: pointer;
        }}
        .generationSelected{opacity: 1;}

        #pikachuRunningBox{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            img{
                height: 7em;
            }
        }
    }
}

#loading{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}