#mainContentBox{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(142, 214, 255, 0.468);

    img{
        width: 50%;
    }
}