#profilPokemonOverlay{
   background: rgba(128, 128, 128, 0.559);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    #profilPokemonBox{
        background: rgba(142, 214, 255, 0.891);
        outline: 3px solid black;
        width: 40vw;
        height: 50vw;
        display: flex;
        flex-direction: column;

        .childProfilPokemonBox{width: 100%; outline: 1px solid black;}
        
        #profilPokemonHeaderCloseBox{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 8%;
            

            span{
                padding-left: 1%;
                font-size: 2em;
                font-weight: 600;
                font-family: "Noto Sans", sans-serif;
            }

            button{
                padding-right: 1%;
                font-size: 2em;
                font-weight: 700;
                background: none;
                border: none;
            }

            button:hover{cursor: pointer;}
        }

        #profilPokemonImageBox{
            
            height: 52%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                height: 100%;
                width: auto;
            }
        }

        #profilPokemonPrecisionBox{
            height: 40%;
        }
    }
}