#profilPokemonOverlay{
   background: rgba(128, 128, 128, 0.559);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    #profilPokemonBox{
        background: rgba(142, 214, 255, 0.891);
        outline: 3px solid black;
        width: 40vw;
        height: 50vw;
        display: flex;
        flex-direction: column;

        .childProfilPokemonBox{width: 100%; outline: 1px solid black;}
        
        #profilPokemonHeaderCloseBox{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 8%;
            

            span{
                display: flex;
                gap: 0.5em;
                padding-left: 1%;
                font-size: 1.1em;
                font-weight: 600;
                font-family: "Noto Sans", sans-serif;

                .nameEvolutionClickable:hover{
                    cursor: pointer;
                }

                .currentEvolution{
                    font-weight: 900;
                }
            }

            button{
                margin-right: 3%;
                font-size: 2.5em;
                font-weight: 700;
                background: none;
                border: none;
            }

            button:hover{cursor: pointer;}
        }

        #profilPokemonImageBox{
            
            height: 52%;
            display: flex;
            justify-content: center;
            img{
                height: 100%;
                width: auto;
            }
            div.controle{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;

                i{
                    outline: 1px solid black;
                    border-radius: 100%;
                    padding: 0.3em;
                    background: rgba(255, 255, 255, 0.477);
                    font-size: 2.5em;
                    transition: 0.1s;
                    opacity: 0.7;
                }

                i:hover{
                    opacity: 1;
                    cursor: pointer;
                    font-size: 3em;
                    background: rgba(255, 255, 255, 0.617);
                }
            }
        }

        #profilPokemonPrecisionBox{
            height: 40%;
        }
    }
}